<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tree</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
    <br>
    <!-- Form that adds new node to its parent -->
    <form class="form-inline" th:action="@{/saveNode}" th:object="${node}" th:method="post">
        <input type="hidden" th:value="${parent}" name="parent"/>
        <div class="form-group mx-sm-3 mb-2">
            <input type="number" class="form-control" placeholder="Node value" th:field="*{data}">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Add node</button>
    </form>
</div>
</body>
</html>